#starWTxt{
    font-family: 'Poller One', cursive !important;
    font-size: xx-large;
    color: yellow;
}
nav{
    font-size: xx-large;
}

div.card>div{
    
    visibility: hidden !important;
    color: white;
}
div.card:hover>div{
    visibility: visible!important;
    background-color: rgba(0, 0, 0, 0.459)!important;
}